<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cucumber Extent Report">
	<!--<listeners>
		<listener class-name="com.jiffy.runners.NGTestListener" />
	</listeners>-->

	<test name="AllTest">
		<classes>
			<class name="runners.TestRunner" />
		</classes>
	</test>
</suite>